.label-minute{
    color: black;
    background-color: white;
    padding: 10px;
    width: 50px;
}
.custom-tooltip-minute {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 14px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
  }
  .linearchart-container {
    position: relative;
    background-color: rgb(255, 0, 0);
width: 245px;
height: 245px;
border-radius: 5px;
  }
  
  .linearchart-title {
    position: absolute;
top: 8px;
left: 38%;
transform: translateX(-50%);
font-size: 18px;
font-weight: bold;
color: rgb(95, 19, 195);
color: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.5;
  }
